.cartItem {
    height: 170px;
    width: 100%;
    /* border: 0.5px solid red; */
    /* background-color: lavender; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.item-divider-line {
    height: 0.1px;
    width: 93%;
    margin: 7px auto;
    /* background-color: red; */
    background-color: rgb(187, 187, 187);
}

.cartItem .imgCntnr {
    height: 100%;
    width: 30%;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem .imgCntnr img {
    height: 100%;
    /* border: 0.5px solid blue; */
}

.itemdataCntnr {
    height: 100%;
    width: 70%;
    /* border: 0.5px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.itemTitle-n-priceCntnr {
    height: 82%;
    width: 100%;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: space-between;
 }
.itemTitle-n-priceCntnr a {
    height: fit-content;
    padding-right: 10px;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    /* border: 0.5px solid blue; */
}
.itemTitle-n-priceCntnr a:hover {
    color: rgb(0, 0, 130);
    /* border: 1px solid blue; */
}

.quantity-Incrmnt-Dcrmnt-n-removeCntnr {
    width: 100%;
    margin-bottom: 3px;
    padding: 0 10px;
    /* border: 0.5px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-minusCntnr {
    width: 34%;
    min-width: 95px;
    max-width: 110px;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minus {
    /* padding-bottom: 5px; */
}
.plus-minusCntnr .quantity {
    /* color: navy; */
    font-size: 1.6rem;
    font-weight: 500;
}
.plus-minusCntnr button {
    height: 2.8rem;
    width: 2.8rem;
    font-size: 2.5rem;
    /* font-weight: ; */
    border: 0;
    border-radius: 0.65rem;
    cursor: pointer;
    border: 0.03rem solid rgb(168, 168, 168);
    background-color: #eaeded;
    box-shadow: 0 0 4.5px -1.5px black;
}
.plus-minusCntnr button:hover {
    background-color: white;
}

.removebtn {
    padding: 3.5px 7px;
    padding-top: 0.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.7rem;
    border: 0.03rem solid rgb(168, 168, 168);
    background-color: #eaeded;
    box-shadow: 0 0 4.5px -1.5px black;
}
.removebtn:hover {
    /* color: rgb(243, 0, 0); */
    background-color: white;
}


.itemPrice  {
    margin-right: 4px;
    /* border: 0.5px solid yellowgreen; */
}
.itemPrice span {
    font-size: 1.5rem;
    font-weight: 500;
    /* border: 0.5px solid blue; */
}


/* ///////////////////// */
@media (max-width: 905px) {
    .cartItem .imgCntnr {
        height: 95%;
    }
}

@media (max-width: 870px) {
    .cartItem .imgCntnr {
        height: 90%;
    }
}

@media (max-width: 750px) {
    .itemTitle-n-priceCntnr a {
        font-size: 1.6rem;
    }
    .quantity {
        margin: 0 5px;
    }
    .cartItem .imgCntnr {
        height: 85%;
        /* border: 0.5px solid blue; */
        overflow: hidden;
    }
    .cartItem .imgCntnr img {
        height: 100%;
        /* border: 0.5px solid red; */
    }
}

@media (max-width: 675px) {
    .cartItem .imgCntnr {
        height: 85%;
    }
    .cartItem .imgCntnr img {
        height: 100%;
    }
}


/* //////// css for mobile screen */
@media (max-width: 395px) {
    .cartItem {
        margin: 5px 0;
        padding: 5px 0;
    }
    .cartItem .imgCntnr {
        height: 85%;
        width: 30%;
        /* border: 0.5px solid black; */
    }
    .cartItem .imgCntnr img {
        height: 100%;
        /* border: 0.5px solid red; */
    }
    .itemTitle-n-priceCntnr {
        padding: 0 5px;
    }

    .plus-minusCntnr button {
        cursor: none;
    }
    .removebtn {
        padding: 5px 7px;
        padding-top: 6px;
        font-size: 14px;
        cursor: none;
    }
    .itemPrice span {
        padding: 5px;
    }
    .item-divider-line {
        /* height: 0.1px; */
        background-color: gray;
    }
}


/* /////// css for mobile orientation mode */