.cartPage {
    min-height: calc(100vh - 200px);
    width: 100%;
    padding: 0 10px;
    padding-top: 5vh;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: center;
}

.cart-heading-n-ItemsCntnr {
    height: fit-content;
    min-height: 200px;
    width: 65vw;
    min-width: 560px;
    max-width: 995px;
    margin-right: 3vw;
    margin-bottom: 13vh;
    border-radius: 1.5px;
    /* border: 0.5px solid black; */
    background-color: white;
    box-shadow: 0px 0px 3px -2px black;
}


.cart-heading-n-ItemsCntnr:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 6.5px -2px black;
}

.cartHeadingCntnr {
    width: 100%;
    /* border: 0.5px solid blue; */
    border-bottom: 1px solid gray;
}

.shoppingCartHeading {
    padding: 12px;
    font-weight: 400;
    font-size: 3rem;
    /* border: 0.5px solid red; */
    display: flex;
    align-items: center;
}

.item-in-urCart-n-PriceTitleCntnr {
    width: 100%;
    font-size: 1.5rem;
    padding: 0 12px;
    padding-right: 20px;
    padding-bottom: 3px;
    color: black;
    /* border: 0.5px solid blue; */
    display: flex;
    justify-content: space-between;
}


.cntnu-shpngCntnr {
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}
.cntnu-shpngCntnr .cntnu-shpng {
    font-size: 25px;
    color: rgb(0, 0, 108);
    /* text-decoration: none; */
}

.cartItemsCntnr {
    width: 100%;
    margin: 10px 0;
    /* border: 1px solid blue; */
}

.proceedToBuyCntnr {
    max-height: 200px;
    width: 30vw;
    max-width: 300px;
    padding: 4px 0;
    border-radius: 1.5px;
    background-color: white;
    box-shadow: 0px 0px 3px -2px black;
    display: flex;
    justify-content: center;
    position: relative;
}

.proceedToBuyCntnr:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 6.5px -2px black;
}

.subtotalCntnr {
    height: fit-content;
    padding-top: 5vh;
    font-size: 1.4rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.subtotal-price {
    font-size: 1.5rem;
    font-weight: 500;
}

.proceedToBuy-btn {
    height: 43px;
    width: 95%;
    font-size: 1.7rem;
    border: 0;
    border-radius: 8px;
    margin-bottom: 3px;
    cursor: pointer;
    background-color: #ffd814;
    position: absolute;
    bottom: 15px;
}

.proceedToBuy-btn:hover {
    background-color: #f6c900;
    border: 1px solid #deb100;
}



/* for small screen laptop */

@media (max-width: 905px) {
    .cartPage {
        width: 100%;
        padding: 0 2px;
        padding-top: 5vh;
        /* background-color: teal; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cart-heading-n-ItemsCntnr {
        width: 60vw;
        min-width: 510px;
        margin-right: 8px;
        /* border: 0.5px solid red; */
    }
    .subtotalCntnr {
        font-size: 1.7rem;
    }
    .item-in-urCart-n-PriceTitleCntnr {
        font-size: 1.8rem;
    }
    .subtotal-price {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

/* ////////////////////////// */
@media (max-width: 750px) {
    .cartPage {
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cart-heading-n-ItemsCntnr {
        min-width: 390px;
        margin-right: 8px;
        margin-bottom: 10px;
    }

    .cartItemsCntnr {
        padding: 0 2px;
    }

    .proceedToBuyCntnr {
        height: 28vh;
        width: 30vw;
        padding: 4px 5px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .subtotalCntnr {
        font-size: 1.7rem;
    }
    .item-in-urCart-n-PriceTitleCntnr {
        font-size: 1.8rem;
    }
    .subtotal-price {
        font-size: 1.8rem;
        font-weight: 500;
    }
    
}

@media (max-width: 630px) {
    .proceedToBuyCntnr {
        height: 26.5vh;
        width: 30vw;
        margin-bottom: 10px;
        padding: 4px 2px;
    }
}

@media (max-width: 575px) {

    .cartPage {
        padding: 0 15px;
        padding-top: 5vh;
        /* background-color: gray; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        /* align-items: flex-end; */
    }

    .cart-heading-n-ItemsCntnr {
        width: 100%;
        margin-right: 0;
    }

    .proceedToBuyCntnr {
        height: 25vh;
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 4px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: left;

    }
    .item-in-urCart-n-PriceTitleCntnr {
        font-size: 1.8rem;
    }
    .subtotal-price {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .subtotalCntnr {
        height: fit-content;
        padding: 15px 5px;
        font-size: 2rem;
    }
    .proceedToBuy-btn {
        width: calc(100% - 8px);
    }
}


/* //////// css for mobile screen */
@media (max-width: 395px) {
    .cartPage {
        padding: 0 0;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart-heading-n-ItemsCntnr {
        min-width: 98%;
        width: 98%;
    }

    .cart-heading-n-ItemsCntnr:hover { box-shadow: 0 0 0 0 ; }
    .cartItemsCntnr { padding: 0; }

    .item-in-urCart-n-PriceTitleCntnr {
        font-size: 1.8rem;
    }

    .proceedToBuyCntnr {
        height: 25vh;
        max-height: 190px;
        width: 98%;
        max-width: 98%;
        box-shadow: 0 0 0 0;
    }
    .proceedToBuyCntnr:hover { box-shadow: 0 0 0 0 ; }

    .subtotalCntnr {
        font-size: 1.8rem;
    }
    .subtotal-price {
        font-size: 1.8rem;
        font-weight: 500;
    }
    
    .proceedToBuy-btn {
        font-size: 1.8rem;
    }
}


/* //////////// css for mobile orientation mode */
@media (max-height: 600px) {
    .proceedToBuyCntnr {
        min-height: 200px;
    }
}


@media (max-height: 345px) {
    .cartPage {
        padding: 0 0;
        padding-top: 2.5vh;
        /* background-color: antiquewhite; */
    }

    .cartHeadingCntnr {
        width: 100%;
        /* border: 1px solid red; */
    }
    
    .shoppingCartHeading {
        padding: 10px;
        font-weight: 400;
        font-size: 23px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
    }
    
    .cartItemsCntnr {
        width: 100%;
        margin: 10px 0;
        /* border: 1px solid blue; */
    }
    
    .proceedToBuyCntnr {
        height: 200px;
        width: 30vw;
    }
    
    .proceedToBuy-btn {
        cursor: none;
    }

}