
footer {
    height: 100%;
    width: 100%;
    /* border: 1px solid yellow; */
    background-color: rgb(0, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-itemsCntnr {
    padding-top: 1vh;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.footer-Item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.footer-Item ul li {
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 100;
    list-style: none;
    cursor: pointer;
    /* border: 1px solid red; */
}
.footer-Item ul li:hover {
    text-decoration: 0.5px underline;
}


.kp-IntouchCntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid red; */
}
.side-of-kpIntouch {
    height: 0.8px;
    width: 17px;
    margin-top: 1px;
    background-color: white;
}
.kp-Intouch {
    padding: 0 2.5px;
    font-size: 1.3rem;
    font-weight: 200;
}

.profileContainer {
    /* border: 0.5px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon { margin: 4px; }

.linkedIn { height: 29px; width: 29px; }
.instagram { height: 31px; width: 31px; }
.whatsapp { height: 29px; width: 29px; }

.copy-rightCntnr {
    height: 35px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-rightCntnr span { font-size: 1.2rem }



/* //////// css for mobile screen */
@media (max-width: 395px) {
    .footer-Item ul li {
        cursor: none;
    }
    .profile-icon { cursor: none; }
}