
footer {
    height: 100%;
    width: 100%;
    /* border: 1px solid yellow; */
    background-color: rgb(0, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-itemsCntnr {
    padding-top: 1vh;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.footer-Item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.footer-Item ul li { font-size: 1rem; font-weight: 200; list-style: none; }
.footer-Item ul li:hover {
    cursor: pointer;
    text-decoration: 0.5px underline;
}


.kp-IntouchCntnr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-of-kpIntouch {
    height: 0.8px;
    width: 17px;
    margin-top: 1px;
    color: black;
    background-color: white;
}
.kp-Intouch {
    padding: 0 2.5px;
    font-size: 0.9rem;
    font-weight: 200;
    /* border: 1px solid red; */
}

.profileContainer {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon { margin: 4px; }

.linkedIn { height: 29px; width: 29px; }
.instagram { height: 31px; width: 31px; }
.whatsapp { height: 29px; width: 29px; }

.copy-rightCntnr {
    height: 38px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    /* border: 1px solid red; */
    background-color: rgb(0, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-rightCntnr span { font-size: 0.9rem; font-weight: 200; }
