header {
    height: 60px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(0, 25, 25);
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar {
    height: 100%;
    width: 100%;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoCntnr {
    height: 100%;
    margin-left: 42px;
    text-decoration: none;
    /* border: 0.5px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoCntnr .logo {
    margin-top: .8rem;
    font-size: 3.2rem;
    letter-spacing: -0.15rem;
    color: transparent;
    /* border: 0.5px solid red; */
    background: linear-gradient(90deg, white, rgb(0, 119, 119), white, rgb(0, 119, 119), white );

    background-clip: text;
    animation: movinggradient 5s ease infinite;
    background-size: 200%;
}
@keyframes movinggradient {
    0% { background-position: 0% 25%; }

    25% { background-position: 25% 50%; }

    50% { background-position: 50% 25%; }

    25% { background-position: 25% 0%; }

    0% { background-position: 0% 25%; }
}

.logoCntnr .logo-withme {
    letter-spacing: .2rem;
    color: white;
    position: relative;
    left: 2rem;
    top: -0.25rem;
    /* border: 0.5px solid red; */
}

.navbar ul {
    margin-right: 1rem;
    /* border: 0.5px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul .titleCntnr {
    margin-right: 4px;
    list-style: none;
    border-radius: 1.3px;
    /* border: 0.5px solid red; */
}
.titleCntnr:hover {
    background-color: #EAEDED !important;
}

.navMenu {
    height: 34px;
    padding: 0 0.75rem;
    padding-top: 0.47rem;
    font-size: 1.75rem;
    /* border: 0.5px solid white; */
    text-decoration: none;
    color: #EAEDED;
    display: flex;
}
.signIn {
    word-spacing: -1.7px;
}

.titleCntnr .navMenu:hover {
    color: black;
}

.cartlogoCntnr {
    padding-left: 0;
    padding-right: 0.55rem;
    padding-top: 0;
    padding-bottom: 0.15rem;
    /* border: 0.5px solid red; */
    display: flex;
    align-items: center;
}

.itemNo_inCart {
    height: 13.5px;
    width: 13.5px;
    font-size: 1.05rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    /* border: 1px solid white; */
    background-color: rgb(242, 0, 0);
    position: relative;
    top: -1.8rem;
    right: -2.8rem;
}
.itemNo_inCart-whnQty_lessthn10 {
    height: 13.5px;
    width: 13.5px;
    font-size: 1.05rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    /* border: 1px solid white; */
    background-color: rgb(242, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
    top: -1.8rem;
    right: -2.8rem;
}

.cartlogo {
    height: 3.3rem;
    width: 3.3rem;
    margin-left: -0.58rem;
    text-decoration: none;
    /* border: 1px solid red; */
}

.cartlogoTitle {
    margin-bottom: -0.8rem;
    font-size: 1.68rem;
    text-decoration: none;
    /* border: 1px solid white; */
}


/* //////// css for mobile screen */
@media (max-width: 470px) {
    .navbar ul {
        margin-right: 1rem;
    }

    .navbar .home-titleCntnr {
        display: none;
    }
}

@media (max-width: 395px) {
    .logoCntnr {
        cursor: none;
    }
    .logoCntnr .logo {
        margin-top: 1.1rem;
        font-size: 2.8rem;
    }
    .cartlogoTitle {
        display: none;
    }

    .navbar ul {
        margin-right: 0.1rem;
    }
    .navbar ul .titleCntnr {
        margin-right: 1rem;
        cursor: none;
    }

    .titleCntnr .navMenu {
        margin-top: 0.3rem;
    }
}