.over-all-PageCntnr {
    /* min-height: 100vh;
    width: 100%;
    border: 1px solid red;
    background-color: #EAEDED;
    display: flex;
    flex-direction: column; */
}

.headerCntnr {
    height: 60px;
    width: 100%;
    /* border: 1px solid blue; */
    position: absolute;
}

.main-contentCntnr {
    min-height: calc(100vh - 200px);
    width: 100%;
    margin-top: 60px;
    /* border: 0.5px solid yellow; */
    background-color: #EAEDED;
}

.productsCntnr {
    width: 100%;
    padding: 5vh 0;
    /* border: 0.5px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.footerCntnr {
    height: 140px;
    width: 100%;
    /* it's required for footer placed at bottom of the page */
    margin-top: auto;
    font-size: 30px;
    color: white;
    /* border: 1px solid red; */
}


/* //////// css for mobile screen */
@media (max-width: 395px) {
    .main-contentCntnr {
        padding-top: 20px;
        /* border: 1px solid red; */
    }
}