.over-all-PageCntnr {
    min-height: 100vh;
    width: 100%;
    /* padding: 3px; */
    /* border: 1px solid red; */
    background-color: #EAEDED;
    display: flex;
    flex-direction: column;
}

.headerCntnr {
    height: 65px;
    width: 100vw;
    /* border: 1px solid blue; */
    position: absolute;
}

.main-contentCntnr {
    min-height: calc(100vh - 205px);
    width: 100%;
    margin-top: 65px;
    /* padding: 20px; */
    /* border: 2px solid green; */
}

.productsCntnr {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}




.footerCntnr {
    height: 140px;
    width: 100vw;
    margin-top: auto; /* it's required for footer placed at bottom of the page */
    /* padding-bottom: 10px; */
    font-size: 30px;
    color: white;
    /* border: 1px solid red; */
    background-color: rgb(0, 16, 16);
    /* z-index: 5; */
}