
.product {
    height: auto;
    min-height: 370px;
    width: 270px;
    margin: 3px;
    border-radius: 2px;
    /* border: 1px solid black; */
    background-color: white;
    /* box-shadow: 0px 0px 8px -2px white; */
    cursor: pointer;
    position: relative;
}
.product:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 8px -2px black;
}

.product .imgCntnr {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .imgCntnr img {
    height: 190px;
    width: 180px;
}

.product h3 {
    padding: 0 5px;
    /* border: 1px solid red; */
}

.add-to-Cart-n-buy-NowCntnr {
    width: 100%;
    padding: 0 2px;
    border-radius: 2px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 8px;
}

.add-to-Cart-n-buy-NowCntnr button {
    height: 36px;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
}

.addToCart-btn {
    margin-bottom: 5px;
    background-color: #ffd814;
}
.addToCart-btn:hover {
    background-color: #f6c900;
    border: 1px solid #deb100;
}

.buyNow-btn {
    background-color: #ff9203;
}
.buyNow-btn:hover {
    background-color: #f08800;
    border: 1px solid #e38100;
}