.display-blur {
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.538);
    /* background-color: rgba(0, 23, 23, 0.818); */
    position: fixed;
    right: 0;
    z-index: 1;
}

.display-none {
    height: 100vh;
    /* border: 1px solid red; */
    display: none;
}

.show-SidebarCntnr {
    height: 100vh;
    width: 360px;
    /* border: 1px solid red; */
    background-color: #dadfdf;
    /* background-image: linear-gradient(rgb(0, 24, 24), gray, rgb(0, 15, 15)); */
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    transition: 90ms;
    transition-timing-function: ease-in;
    z-index: 3;
}

.hide-SidebarCntnr {
    height: 100vh;
    width: 0;
    /* border: 1px solid red; */
    background-color: #EAEDED;
    /* background-image: linear-gradient(rgb(0, 24, 24), gray, rgb(0, 15, 15)); */
    display: flex;
    justify-content: right;
    position: fixed;
    left: 0;
    transition: 80ms;
    transition-timing-function: ease-in;
    z-index: 3;
}

.sidebar {
    height: 100%;
    width: 360px;
    /* border: 1px solid blue; */
    /* background-color: #EAEDED; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburgerCntnr {
    padding: 0 3px;
    cursor: pointer;
    border-radius: 2px;
    /* border: 0.5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 5px;
    top: 16.5px;
    z-index: 1;
}

.hamburgerCntnr .hamburger-line {
    height: 1.4px;
    width: 25.5px;
    margin: 3.7px 0;
    background-color: white;
}


/* css for make cross icon */
.crossCntnr {
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 375px;
    top: 15px;
    transition: 90ms;
    z-index: 5;
}

.crossCntnr .cross-line {
    height: 1.5px;
    width: 30px;
    background-color: white;
}

.crossCntnr .line-1 {
    transform: rotate(45deg);
}

.crossCntnr .line-2 {
    display: none;
}

.crossCntnr .line-3 {
    transform: rotate(-45deg);
    position: absolute;
}


.sidebar-header {
    min-height: 60px;
    width: 100%;
    padding-top: 9.5px;
    font-size: 30px;
    text-align: center;
    color: #EAEDED;
    /* border: 1px solid red; */
    background-color: rgb(0, 25, 25);

}

.sidebar ul {
    width: 100%;
    /* border:  1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.sidebar .list {
    height: fit-content;
    width: 100%;
    margin: 10px 0;
    /* border:  1px solid blue; */
    display: flex;
}

.sidebar .list .sidebar-item {
    height: 40px;
    width: 100%;
    font-size: 18px;
    /* font-weight: 100; */
    color: #EAEDED;
    text-decoration: none;
    border-radius: 2px;
    /* border: 0.5px solid black; */
}

.sidebar-item span {
    height: 100%;
    width: 100%;
    color: black;
    /* border:  0.5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item span:hover {
    color: #EAEDED;
    background-color: rgb(0, 25, 25);
}




@media (max-width: 575px) {
    .show-SidebarCntnr {
        width: 280px;
    }
    .crossCntnr {
        left: 295px;
    }
}

/* //////// css for mobile screen */
@media (max-width: 395px) {
    .hamburgerCntnr {
        cursor: none;
    }
    .sidebar-item span {
        cursor: none;
    }
    .crossCntnr {
        cursor: none;
        left: calc((100vw - 280px)/2 + 280px - 18.5px);
    }
}