.signinPageCntnr {
    min-height: 100vh;
    /* padding: 3px; */
    /* border: 1px solid blue; */
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.mainCntnr {
    min-height: calc(100vh - 210px);
    width: 100vw;
    margin-top: 70px;
    padding: 20px 0;
    /* border: 1px solid wheat; */
    background-color: darkolivegreen;
    display: flex;
}